@import 'reset.css';
@import "fonts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after,
*::before {
    box-sizing: border-box;
}

body{
    font-family: KIAM;
}

a {
    text-decoration: none;
    color: inherit;
}
.link {
    position: relative;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.link::after{
    position: absolute;
    content: "";
    bottom: -4px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform .25s ease-out;
    will-change: transform;
    pointer-events: none;
}
.link:hover::after{
    transform: scaleX(1) ;
}
.wpapper {
}
.header {
}
[class*="__container"] {
    width: auto;
    margin: 0 auto;    
}
.main__header {
    height: 60px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 0 1px rgb(5 20 31 / 10%);
}
.header-logo {
    width: 200px;
    display: flex;
    align-items: center;
}
.logo-cont svg {
    width: 50px;
    height: 11px;
}
.title {
    text-transform: uppercase;
    margin-left: 15px;
    font-size: 15px;
}
.header-text {
    display: flex;
    font-size: 15px;
}
.text-address {
}
.text-phone {
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #9ba1a5;
}
.phone-link {
}
.menu__header {
    width: auto;
    max-width: 1440px;
    margin: 0 auto;
    height: 60px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(248, 248, 248);
    border-top: 1px solid rgb(218, 217, 217);
}
.header__list {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: 15px;
    
}
.header__list li::after{
    position: absolute;
    content: "";
    bottom: 0px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #05141f;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform .25s ease-out;
    will-change: transform;
    pointer-events: none;
}
.header__list li:hover::after{
    transform: scaleX(1) ;
}
.list-item {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.list-link {
    font-weight: 500;
    transition: all 1s ease;
}
.footer__container {
    padding: 60px 80px;
    background-color: #05141f;
    color: #9ba1a5;
}
.footer__top {
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #697279;
}
.description-text {
    font-family: KIAM;
    font-size: 15px;
    line-height: 167%;
}
.footer__content {
    margin-bottom: 135px;
}
.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 65px;
}
.logo-link {
    width: 70px;
    height: 16px;
}
.footer-title {
    padding: 5px 0px 2px 15px;
    color: #fff;
}
.footer-links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 80px;

}
.footer-menu {
}
.footer-list {
    display: flex;
    flex-direction: column;
}
.menu-1{
    font-size: 18px;
    color: #fff;
    
}
.menu-1 ul {
    gap: 20px;
}
.menu-2 li,.menu-3 li:not(:last-child) {
    margin-bottom: 10px;
}
.menu-2 li a, .menu-3 li a {
    font-size: 15px;
    color: #9ba1a5;
}
.menu-2 h3, .menu-3 h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
}
.list-item {
}
.list-link {
}
.footer-contacts {
    width: 275px;
}
.footer-contacts-info {
}
.info-title h3 {
    font-size: 18px;
    color: #fff;
}
.info-address {
    font-size: 15px;
}
.info-phone {
    margin-top: 15px;
}
.info-phone-link {
    display: inline-flex;
    align-items: center;
    color: #fff;
}
.mr-2 {
    margin-right: 10px;
}
.footer-social {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.footer-social span {
    width: 100%;
    margin-bottom: 5px;
}
.social-link {
    margin-bottom: 10px;
    margin-right: 10px;
    color: #fff;
}
.bottom-first-line {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.footer-btn {   
    width: 20%;
}
@media (max-width: 1440px){
    .footer-btn{
        width: 25%;
    }
}
.btn-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
    color: #fff;
    border: 1px solid #fff;
}
.footer-descr {
    width: 66.6%;
    font-size: 12px;
    line-height: 125%;
    color: #697279;
}
/*SECTIONSS*/
.main-section{
    width: 100%;
    min-height: 520px;
    background: url("../img/BgMain.jpg") 50%/cover no-repeat;
}
.section__container {
}
.section-shadow{
    position: relative;
    min-height: 520px;
}
.section-shadow::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    background: linear-gradient(90deg, rgba(5, 20, 31, .75), rgba(5, 20, 31, 0));
}
.section-content {
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 80px;
    right: 0;
    width: 50%;
    height: 90%;
    padding: 50px 80px;
}
.content-main{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 320px;
    height: auto;
}
.main-title {
    font-family: KIAM;
    font-size: 38px;
    color: #fff;
    cursor: default;
    line-height: 110%;
}
.section-btn {
    margin-top: 120px;
}
.fill-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60px;
}
.white-fill {
    color: #05141f;
    border: 1px solid #fff;
    background: #fff;
}
/*SECOND SECT*/
.second-section {
    padding: 0 80px;
}
.section__container h2 {
}
.section-title {
    padding-top: 70px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 35px;
    line-height: 110%;
    font-weight: 700;
}
.model-row {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 80px;
    padding-right: 80px;
}
.model-selection {
}
.subtitle {
    font-size: 35px;
    line-height: 114%;
    font-weight: 700;
    margin-bottom: 121px;
}
.model-selection__block {
}
.block-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
@media (max-width: 1200px) {
    .block-items{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    
}
.block-item-card{
    transition: all .4s ease;
}
.block-item-card:hover {
    transform: translateY(-10px) scale(110%);
    transition: all .4s ease;
}
.card-image {
}
.card-image__img {
}
.card-text {
}
.text-title {
    display: flex;
    font-size: 18px;
    line-height: 139%;
    font-weight: 700;
}
.title-link {
    margin-right: 10px;
}
.text-price {
    margin-top: 10px;
    font-size: 15px;
    line-height: 167%;
}
.text-links {
    padding-top: 10px;
}
.text-link {
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
}
/*services section*/
.online-services {
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.services__container {
    padding-right: 80px;
    padding-left: 80px;
}
.block-links {
    padding-left: 80px;
}
.services-title {
    font-size: 35px;
    line-height: 114%;
    font-weight: 700;
    margin-bottom: 20px;
}
.block-links-services {
}
.services-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 1200px) {
    .services-items{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    
}
.services-item {
    height: auto;
}
.services-item-link {
    margin: 0 20px;
    display: flex;
    width: 80%;
    align-items: center;
    padding: 10px 45px 10px 10px;
    background-color: #d9e1e5;
}
.services-item-link:hover{
    transform: translateY(-10px);
    transition: all .4s ease;
}
.item-image {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background: 50%/COVER no-repeat;
}
.services-image-1 {
    background-image: url(../img/Call.png);
}
.services-image-2 {
    background-image: url(../img/Test-drive.png);
}
.services-image-3 {
    background-image: url(../img/tool.svg);
}
.services-image-4 {
    background-image: url(../img/prices.svg);
}
/*SALES SECTION*/
.sales-section {
    margin-top: 80px;
    margin-bottom: 80px;
}
.sales__container {
    padding-left: 80px;
    padding-right: 80px;
}
.sales-block {
    padding-left: 80px;
    padding-right: 80px;
}
.sales-title {
    font-size: 35px;
    line-height: 114%;
    font-weight: 700;
    margin-bottom: 40px;
}
.sales-items {
    display: flex;
    gap: 40px;
}
.sales-item {
    height: auto;
    flex: 0 0 25%;
}
.sales-item-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 245px;
}
.sales-item-image{
    background: 50%/cover no-repeat;
}
.sales-item-image::before {
    padding-bottom: 67%;
    display: block;
    width: 100%;
    content: '';
}
.image-1{
    background-image: url("../img/Kia410h277.jpg");
}
.image-2{
    background-image: url("../img/f90b8f70-22db-4aab-9d41-135c4db43c6e.jpg");
}
.sales-item-descr {
    padding: 30px;
}
.descr-title {
    font-size: 18px;
    line-height: 139%;
    font-weight: 700;
}
.decr-date {
    font-size: 15px;
    line-height: 167%;
    margin-top: 5px;
    color: #9ba1a5;
}
.descr-subtitle {
    margin-top: 10px;
}
.sales-btn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.btn {
    width: 310px;
    background-color: transparent;
    border: 1px solid #05141f;
    color: #05141f;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
/*ABOUT SECTION*/
.about-section {
    padding: 60px 0 80px;
}
.about__container {
    padding-left: 160px;
    padding-right: 160px;
}
.about-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.about-title {
}
.title-text {
    font-size: 35px;
    line-height: 114%;
    font-weight: 700;
    padding-right: 300px;
}
.about-descr {
}
@media (max-width: 1200px) {
    .about-block {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
    }
}
.descr-text {
    font-size: 15px;
    line-height: 167%;
    font-weight: 400;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}
.descr-subtitle {
    font-size: 1.5em;
    text-align: justify;
}
.descr-list {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.descr-list-item {
    
}
.list-item-link {
}

/*POPUP*/
 
  .popup_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(54, 54, 54, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
  }
  .popup_bg.active{
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
    z-index: 5;
  }
  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #F6F6F5;
    transform: translate(-50%, -50%) scale(0);
    width: 746px;
    height: 518px;
    transition: 0.5s all;
    z-index: 3;
  }
  .popup.active{
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
    z-index: 4;
  }
  .popup-title{
    margin-top: 64px;
    margin-bottom: 62px;
    text-align: center;
  }
  .popup-title::before{
    content: '';
    position: absolute;
    background-image: url(/img/popup/graph.svg);
    width: 155.36px;
    height: 91.35px;
    left: 160px;
    top: 33px;
  }
  .close-popup {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 26px;
    right: 26px;
    cursor: pointer;
  }
  .popup label {
    margin-left: 113px;
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column-reverse;
  }
  .popup-title{
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 47px;
    color: #161616;
  }
  .popup .label__text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #161616;
  }
  .popup input {
    margin-top: 10px;
    width: 521px;
    height: 40px;
    background: #FEFEFE;
    border: 0.5px solid #E4E4E4;
  }
  .popup input:focus{
    background: #FEFEFE;
    border: 0.5px solid #D8BFA9;
  }
  .label__text-under{
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #69766D;
  }
  .popup-btn{
    position: absolute;
    left: 35%;
    width: 227px;
    height: 59px;
    margin-bottom: 64px;
  }


  /*Ð¡CONTACTS SECTION */
.contancts-section {
    border-top: 1px solid #cdd0d2;
}
.contacts__padding {
    padding-left: 100px;
}
.contacts__container {
    display: flex;
}
.dealer-detail-info {
    margin-top: 60px;
    flex: 0 0 50%;
}
.page-title {
    font-size: 50px;
    line-height: 110%;
    font-weight: 700;
    margin-bottom: 50px;
}
.page-subtitle {
    font-weight: 400;
}
.button-callback {
    margin-top: 30px;
    padding-bottom: 30px;
}
.callback-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 200px;
    height: 40px;
    margin-right: 20px;
    color: #05141f;
    border: 1px solid #05141f;
}
.link-text {
    color: #05141f;
}
.dealer-info-2nd-text {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    padding: 30px 0 15px;
    border-top: 1px solid #cdd0d2;
}
.second-text-list {
    list-style-type: none;
    flex: 1 1 50%;
}
.text-list-item {
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: left;
}
.text-list-item p {
    font-size: 14px;
    line-height: 167%;
}
.dealer-info-3rd-text {
    padding-bottom: 40px;
    border-top: 1px solid #cdd0d2;
    padding: 30px 0;
}
.third-text-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 20px;
}
.third-text-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: disc;
}
.list-item {
    margin-bottom: 5px;
    list-style-type: disc;
}
.dealer-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
}
.dealer-button {
    padding: 0 5px;
}
.dealer-button-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 50px;
    width: 70%;
    color: #05141f;
    border: 1px solid #05141f;
   
}
.button-link-text {
}

.dealer-map {
    flex: 1 1 50%;
}